<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple Low-Code Single Page Application built using nano-javascript library (<a href="https://github.com/FrontEndNeo/alt-iframe" target="_blank" rel="noopener noreferrer">alt-iframe</a>).</p>
  <p>You can use this library to build rapid prototypes with low-code. It's component based, so it's easy to port to other frameworks for production.</p>
  <hr class="my-4">
  <p>It is built on vanilla javascript and works on all modern browsers including IE11.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/FrontEndNeo/alt-iframe" target="_blank" rel="noopener noreferrer" role="button">Learn more</a>
</div>

<script>
  setMenu( '#menuHome' );
</script>