<div class="container templates-preview" style="margin-bottom: 80px;">
  <h2>Templates Preview</h2>

  <hr>
  <section src="template-Handlebars"></section>

  <hr>
  <section src="template-Mustache"></section>

  <hr>
  <section src="template-dust"></section>

  <hr>
  <section src="template-nunjucks"></section>

  <hr>
  <section src="template-ejs"></section>

  <hr>
  <section src="template-template7"></section>

  <hr>
  <section src="template-lodash"></section>

  <hr>
  <section src="template-doT"></section>

  <hr>
  <section src="template-nxT"></section>
  <hr>

</div>

<script>
  setMenu( '#menuTemplates' );

  // alt.onReady(function () {
  //   $('.templates-preview a.btn-preview').each(function (i, el) {
  //     el.click();
  //   });
  // });

  // alt.onReady(function () {
  //   setTimeout(() => {
  //     $('.templates-preview a.btn-preview').each(function (i, el) {
  //       el.click();
  //     });
  //   }, 50);
  // });

  alt.onReady(function () {
    $('.templates-preview a.btn-preview').each(function (i, el) {
      el.click();
    });
  }, 50);


</script>