<h3><a href="http://olado.github.io/doT/index.html" target="_blank" rel="noopener noreferrer">doT</a></h3>
<div class="row">
  <div class="col-4 text-center">
    <span>Template</span><br>
    <textarea type="live:doT" cols="45" rows="10">
Hi {{=it.name}}!
{{=it.age || ''}}
    </textarea>
  </div>
  <div class="col-4 text-center">
    <span>Data (JSON)</span><br>
    <textarea cols="45" rows="10">
{
  "name":"Jake",
  "age":31
}
    </textarea>
  </div>
  <div class="col-4 text-center" style="border: 1px solid #eee;">
    <a href="javascript:void 0" class="btn-preview">Preview</a>
    &nbsp;&nbsp; <span title="Compile Time">cT: <span class="performance-time"></span>ms</span>
    &nbsp;&nbsp; <span title="Render Time">rT: <span class="performance-time"></span>ms</span>
    <br>
    <textarea class="preview" cols="45" rows="10" readonly></textarea>
  </div>
</div>
