<div>
  <h2>Section - 1</h2>
</div>
<div class="row">
  <div class="col-3">
    <ul>
      <li><a href="#profile/subSection1.1" url-hash="#about/section1/1" target="#subsection-container">Sub Section-1</a></li>
      <li><a href="#profile/subSection1.2" url-hash="#about/section1/2" target="#subsection-container">Sub Section-2</a></li>
      <li><a href="#profile/subSection1.3" url-hash="#about/section1/3" target="#subsection-container">Sub Section-3</a></li>
    </ul>
  </div>
  <div class="col-9" id="subsection-container">Container</div>
</div>
