<div>
  <h2>Sub Section - 1</h2>
</div>

<div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum enim incidunt quos fugit officiis. Ad repellendus delectus ut optio quia quasi enim, nihil facilis quae voluptatum maiores harum sequi asperiores.</p>
  <p>Praesentium eum, itaque dolor doloremque, magnam possimus eos fuga doloribus, sint sit est delectus distinctio eius recusandae enim nesciunt debitis dicta! Asperiores fugit sunt magni blanditiis illum, expedita distinctio dolorum?</p>
  <p>Similique ut enim architecto provident quibusdam sed facere doloribus modi eligendi sint? Commodi aut provident ipsam aliquam ratione aperiam minima totam, fuga magnam sapiente, perferendis laboriosam voluptatum asperiores unde iste.</p>
  <p>Commodi, magni fugit culpa iste quidem tempora mollitia consequuntur voluptas obcaecati, maiores veritatis consequatur dicta nesciunt quam ut repellendus eveniet doloremque eos non placeat officia accusamus? Nulla enim qui laborum.</p>
  <p>Iusto perspiciatis ipsa fuga magnam dolore molestiae itaque nostrum officia at, adipisci eos nobis deserunt ullam ab nulla a fugiat pariatur voluptatum cumque, animi culpa assumenda et error? Ex, dolorum!</p>
  <p>Possimus, nobis nisi tempore odio itaque quisquam repellendus repudiandae dignissimos adipisci porro consectetur vel quaerat necessitatibus facilis quae fugiat quibusdam aspernatur eum illo asperiores harum ipsa atque! In, natus tempore?</p>
  <p>Fuga, odio rerum. Saepe vero consequatur nostrum facilis. Quam praesentium corrupti minus voluptas? Quo quisquam sed dolorem veniam, minima nulla facere unde consequuntur magnam incidunt saepe. Numquam dolor nulla mollitia?</p>
  <p>Quaerat, velit similique odit magnam nulla non praesentium corrupti unde asperiores voluptas, sit atque. Deleniti, corporis omnis tempore et aspernatur perspiciatis qui voluptatum distinctio exercitationem. Culpa ex eum voluptates amet.</p>
  <p>Totam, illo. Quae optio quisquam, provident numquam sit fuga quo neque tempora quia molestias, ad magni aspernatur suscipit eos explicabo nisi alias. Tempore distinctio sed, dignissimos quasi ad placeat fuga.</p>
  <p>Perferendis placeat nisi eligendi nostrum accusantium quasi esse rerum asperiores. Placeat inventore ab eaque, harum eligendi mollitia? Aut reiciendis, earum velit maxime distinctio repellendus, aliquam voluptatibus praesentium qui, id magnam!</p>
</div>
<a href="#">TOP</a>

<div style="margin-bottom: 50px;"></div>

<script>
  console.log('inside subsection 1.1');
</script>