<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand" href="#">Navbar</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- use [replace] attribute to replace the tag with partial html content -->
    <div src="nav-menu" replace></div> <!-- path resolves to "components/nav-menu.html" -->

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">

      <!-- use [href] and [target] to load partial html -->
      <button type="button" href="#search-result" target="#containerMain" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> <!-- path resolves to "components/search-result.html" -->
    </form>
  </div>
</nav>